spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/walletdb
    username: ${DB_USER:wallet}
    password: ${DB_PASSWORD:securepass}
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080